:root { 
--gray_700:#636363; 
--black_900_0a:#0000000a; 
--gray_500:#adadad; 
--black_900:#000000; 
--red_900:#cd0a24; 
--gray_900:#38030b; 
--pink_800:#a90836; 
--red_900_01:#ca0925; 
--white_A700:#ffffff; 
--gray_100:#fcf3f4; 
}